<div class="blocked" data-time="{{timings.blocked}}" data-start="{{harpy_info.startTime}}" title="Blocked: {{timings.blocked}}ms"></div>
<div class="dns" data-time="{{timings.dns}}" title="DNS: {{timings.dns}}ms"></div>
<div class="connect" data-time="{{timings.connect}}" title="Connect: {{timings.connect}}ms"></div>
<div class="send" data-time="{{timings.send}}" title="Send: {{timings.send}}ms"></div>
<div class="wait" data-time="{{timings.wait}}" title="Wait: {{timings.wait}}ms"></div>
<div class="receive" data-time="{{timings.receive}}" title="Receive: {{timings.receive}}ms"></div>