<div class="blocked" data-time="{{timings.blocked}}" data-start="{{harpy_info.startTime}}"></div>
<div class="dns" data-time="{{timings.dns}}"></div>
<div class="connect" data-time="{{timings.connect}}"></div>
<div class="send" data-time="{{timings.send}}"></div>
<div class="wait" data-time="{{timings.wait}}"></div>
<div class="receive" data-time="{{timings.receive}}"></div>